@model ReservaModel;

<h2>Reservar Veículo</h2>

<form asp-controller="Reserva" asp-action="Cadastro" method="post" onclick="@ViewBag.Text">
    <input type="hidden" asp-for="IdVeiculo"/>

    <div class="form-group">
        <label asp-for="DataInicio"> </label>
        <input asp-for="DataInicio" class="form-control" type="date" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="DataInicio" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="DataFim"></label>
        <input asp-for="DataFim" class="form-control" type="date" />
        <span asp-validation-for="DataFim" class="text-danger"></span>
    </div>

    @if (TempData["MensagemErro"] != null)
    {
        <div>
            <div>
                <p class="text-danger">@TempData["MensagemErro"]</p>
            </div>
        </div>
    }

    <button type="submit" class="btn btn-primary" >Confirmar Reserva</button>
</form>

