body {
    background-color: #def2f9;
}

.custom-header {
    background: linear-gradient(63.47deg, rgb(0, 19, 32) 0%, rgb(0, 29, 70) 50%, rgb(1, 43, 105) 100%);
    padding: 10px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.navbar-brand {
    font-size: 1.3rem;
}

.custom-header .navbar-nav .nav-link {
    color: #fff;
    padding: 8px 16px;
    margin: 4px 6px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.custom-header .navbar-nav .nav-link:hover {
    background-color: rgb(52, 78, 113);
    color: #f0f0f0;
}

.main-content {
    padding: 30px;
    justify-content: center;

}




