@model RegisterViewModel

<div class="container mt-5">
    <h2 class="mb-2 text-light">Cadastro de Cliente</h2>
    <p class="lead text-light mb-4">Crie sua conta e comece a dirigir com a gente.</p>

    <form method="post" asp-controller="Account" asp-action="Registrar">
        <div asp-validation-summary="All" class="text-danger mb-3"></div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="Nome">Nome</label>
            <input type="text" class="form-control" placeholder="Digite seu nome" asp-for="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="CPF">CPF</label>
            <input type="text" class="form-control" placeholder="Digite seu CPF" asp-for="CPF" />
            <span asp-validation-for="CPF" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="CNH">CNH</label>
            <input type="text" class="form-control" placeholder="Digite sua CNH" asp-for="CNH" />
            <span asp-validation-for="CNH" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="DataNascimento">Data de Nascimento</label>
            <input type="date" class="form-control" asp-for="DataNascimento" />
            <span asp-validation-for="DataNascimento" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="Email">Email</label>
            <input type="email" class="form-control" placeholder="Digite seu email" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="Telefone">Telefone</label>
            <input type="text" class="form-control" placeholder="Digite seu telefone" asp-for="Telefone" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="Endereco">Endereço</label>
            <input type="text" class="form-control" placeholder="Digite seu endereço" asp-for="Endereco" />
            <span asp-validation-for="Endereco" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="Senha">Senha</label>
            <input type="password" class="form-control" placeholder="Digite sua senha" asp-for="Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label class="form-label text-light" asp-for="ConfirmarSenha">Confirmar Senha</label>
            <input type="password" class="form-control" placeholder="Confirme sua senha" asp-for="ConfirmarSenha" />
            <span asp-validation-for="ConfirmarSenha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-3">Cadastrar</button>
    </form>
</div>

<style>
    .container {
        background-color: #1c3758;
        padding: 20px;
        border-radius: 10px;
        color: white;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        max-width: 600px;
        margin: auto;
    }

    .form-group label {
        font-weight: 600;
    }

    .form-control{
        border: 1px solid #2a4467;
    }

    .btn-primary {
        background-color: #2a4467;
        border-color: #2a4467;
        font-size: 1rem;
        padding: 8px 20px;
        white-space: nowrap;
        width: 100%;
    }

        .btn-primary:hover {
            background-color: #36557e;
            border-color: #36557e;
        }
</style>
